# Ignore node_modules, build output, and logs
node_modules/
dist/
build/
*.log
.DS_Store
pnpm-lock.yaml
yarn.lock
.yarn/
.pnp.*
LICENSE


# Ignore documentation and large data files
docs/
data/

# Ignore other files not needing formatting
*.min.js
*.lock