.header-container {
  a {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition:
      color 0.3s ease,
      transform 0.3s ease;
  }

  /* a tag icon transition */
  a svg {
    transition: transform 0.3s ease;
  }

  a:hover svg {
    transform: scale(1.2); /* Enlarge the icon when hovered */
  }

  /* Underline animation */
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* y-axis offset */
    width: 0;
    height: 3px; /* underline thickness */
    background-color: var(--sakuraPink);
    transition: width 0.3s ease;
  }

  /* hover effect */
  a:hover::after {
    width: 100%; /* from left to right */
  }

  button {
    color: var(--background);
    background-color: var(--foreground);
  }

  /* Menu animation and visibility */
  #mobile-menu {
    overflow: hidden;
    transform-origin: top center;
    transition:
      max-height 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }
}
