.post-content {
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 1.2em 0;
    line-height: 1.4;
    position: relative;
  }

  /* h2 - Special border with left pink line */
  h2 {
    font-size: 2em;
    font-weight: 600;
    color: var(--foreground);
    padding-bottom: 0.2em;
    border-bottom: 2px solid var(--foreground);
    border-bottom-right-radius: 0.5rem;
  }

  h2::after {
    content: '';
    display: block;
    width: 15%;
    border-bottom: 5px solid var(--sakuraPink);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.105em;
    left: 0;
    transition: width 0.3s ease;
  }

  h2:hover::after {
    width: 25%; /* Extend the pink line on hover */
    border-bottom: 6px solid var(--sakuraPink);
  }

  h3 {
    font-size: 1.75em;
    font-weight: 500;
    color: var(--foreground);
  }

  h4 {
    font-size: 1.5em;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--darkForeground);
  }

  p {
    margin: 1.2em 0;
    line-height: 1.8;
    font-size: 1.1em;
  }

  /* Blockquote */
  blockquote {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-size: 1.02em;
    font-style: italic;
    border-left: 4px solid var(--sakuraPink);
    border-radius: 0.5rem;
    background-color: #fcfcf7;
    color: var(--foreground);
    max-width: 85%; /* Limit blockquote width */
  }

  @media (prefers-color-scheme: dark) {
    blockquote {
      background-color: #2c2c2c;
      color: var(--lightForeground);
    }
  }

  /* Lists */
  ul,
  ol {
    margin: 1em 0;
    padding-left: 1.5em;
    line-height: 1.35;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  /* Inline code */
  code {
    background-color: rgba(27, 31, 35, 0.05);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.95em;
    font-family: 'Roboto Mono', monospace;
  }

  @media (prefers-color-scheme: dark) {
    code {
      background-color: rgba(0, 0, 0, 0.3);
      color: var(--lightForeground);
    }
  }

  /* Links */
  a {
    color: var(--skyBlue);
    text-decoration: underline;
    transition: color 0.2s ease;
    margin: 0 0.2em;
  }

  a:link {
    color: var(--skyBlue);
  }

  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: var(--sakuraPink);
  }

  /* Paragraphs */
  p {
    margin: 1.2em 0;
    line-height: 1.8;
    font-size: 1.1em;
    color: var(--foreground);
  }

  /* Images */
  img {
    max-width: 100%;
    border-radius: 0.5rem;
    margin: 1.5em 0;
  }

  /* Tables */
  table {
    width: 100%;
    margin: 1.5em 0;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--lightBackground);
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  table th,
  table td {
    padding: 0.8em;
    border: 1px solid var(--lightForeground);
    text-align: left;
    transition: background-color 0.3s ease;
  }

  table th {
    background-color: var(--sakuraPink);
    color: white;
  }

  table tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  table:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  @media (prefers-color-scheme: dark) {
    table {
      background-color: var(--darkBackground);
    }

    table th,
    table td {
      border: 1px solid var(--darkForeground);
    }

    table tr:nth-child(even) {
      background-color: #2c2c2c;
    }
  }

  /* Horizontal rule */
  hr {
    margin: 2em 0;
    border: none;
    border-top: 2px solid var(--lightForeground);
    max-width: 75%;
  }
}
